.body {
  display: flex;
  height: calc(90vh - 156px);

  :global {
    div.ant-typography,
    .ant-typography p {
      margin: 0;
    }

    .left {
      flex: 0.5;
      overflow: auto;

     

      .path-list {
        &-item {
          display: flex;
          margin-bottom: 20px;

          &:hover {
            .path,
            .description {
              border-color: blue;
            }
          }

          .path,
          .description,
          .controller {
            display: inline-block;
            padding: 4px 8px;
            border: 1px solid #ddd;
          }

          .path {
            flex: 0.2;
            border-right: none;
            cursor: pointer;
          }

          .description {
            flex: 0.6;
            cursor: pointer;
          }

          .controller {
            flex: 0.2;
            display: flex;
            align-items: center;
            border: none;

            span {
              cursor: pointer;
              color: blue;
              margin-right: 20px;
            }
          }
        }
      }
    }

    .editor {
      flex: 0.5;
      height: 100%;
    }
  }
}
