.body {
  display: flex;
  height: calc(90vh - 156px);

  :global {
    div.ant-typography,
    .ant-typography p {
      margin: 0;
    }

    .left {
      flex: 0.5;
      overflow: auto;

      .path-list {
        &-item {
          display: flex;
          margin-bottom: 20px;

          &:hover {
            .path,
            .description {
              border-color: #0000ff4f;
            }
          }

          &.active {
            .path,
            .description {
              border-color: blue;
            }
          }

          .path,
          .description,
          .controller {
            display: inline-block;
            padding: 4px 8px;
            border: 1px solid #ddd;
          }

          .path {
            flex: 0.2;
            border-right: none;
            cursor: pointer;
          }

          .description {
            flex: 0.6;
            cursor: pointer;
          }

          .controller {
            flex: 0.2;
            display: flex;
            align-items: center;
            border: none;

            span {
              cursor: pointer;
              color: blue;
              margin-right: 20px;
            }
          }
        }
      }
    }

    .editor {
      flex: 0.5;
      height: 100%;
      padding: 10px;
      padding-top: 30px;
      border-radius: 10px;
      background-color: #fff;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

      .navbar {
        position: absolute;
        left: 0;
        top: 0;
        height: 20px;
        border-radius: 6px 6px 0 0;
        width: 100%;
        background-image: linear-gradient(
          rgb(232, 232, 232),
          rgb(197, 197, 197)
        );
        padding-left: 10px;
        display: flex;
        align-items: center;

        span {
          cursor: pointer;
        }
      }

      .editor-container {
        height: 100%;
      }
    }
  }
}
