.container {
  margin: 0 auto;
  width: 90%;
  min-width: 800px;

  :global {
    h1 {
      padding-top: 50px;
    }

    .title {
      span {
        cursor: pointer;
      }
    }

    .head {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      justify-content: flex-end;
    }

    .body {
      display: grid;
      grid-template-columns: repeat(4, 25%);

      .project-name {
        height: 20vh;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

        .container {
          width: 90%;
          height: 90%;
          border: 1px solid #ddd;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: all 0.1s linear;
          color: #000;

          &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
